.Button
  display inline-block
  text-align: center
  cursor pointer
  padding 0.6875rem 0
  min-width 8.25rem
  border none
  border-radius 8px
  font-size 1.25rem
  font-weight bold
  background #E5E5E5
  transition background .2s
  &:hover
    background #FFD93E
  &_type_link
    text-decoration none
    color inherit
  &_theme_danger
    background #f56c6c
    color #fff
    &:hover
      background: #f78989
  &_theme_primary
    background: #409eff
    color #fff
    &:hover
      background: #66b1ff
