.events-title
  font-size 1.5rem
  margin 1.125rem 0
  color #333333

.events-wrapper
  display grid
  grid-auto-flow dense
  grid-template-columns repeat(1, 1fr)
  grid-column-gap 1.25rem
  grid-row-gap 1.25rem

.event-buttons
  .Button:not(:first-child)
    margin-left 1em


@media screen and (min-width: 750px)
  .events-title
    margin 2.125rem 0 2rem
    font-size 2.25rem

  .events-wrapper
    grid-template-columns repeat(2, 1fr)

  .event_size_l, .event_size_m
    grid-column span 2

@media screen and (min-width: 1000px)
  .events-wrapper
    grid-template-columns repeat(2, 1fr)

  .event_size_l
    grid-column span 2

  .event_size_m
    grid-column span 2

@media screen and (min-width: 1200px)
  .events-wrapper
    grid-template-columns repeat(6, 1fr)

  .event
    grid-column span 2

  .event_size_l
    grid-column span 4
    grid-row span 3

  .event_size_m
    grid-column span 3